* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(17, 16, 16);

}

#main {
    width: 900px;
    margin: 20px auto 0;

}

#header {
    display: flex;
    align-items: center;
    background-color: #F2EEE1;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#header img {
    width: 45px;
    height: auto;
    padding-left: 10px;
    
}
.links {
    margin-left: auto;
    
}

.link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: small;
    font-weight: 600;
    margin: 0 5px;
    padding: 5px 8px;
}

.link:hover {
    border-bottom: 2px solid rgb(20, 18, 18);
    background-color: #ffdbda;
}

.hero-img {
    background-image: url("../images/food.jpg");
    background-size: cover;
    height: 400px;
    margin-top: 5px;
}

.title-wrapper {
    height: 100px;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 30px;
}

.title {
    font-size: large;
}
.line {
    width: 300px;
    height: 3px;
    background-color: #E39033;
    margin: 30px auto;
}