* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #495877;

}
body {
    display: flex;
    flex-direction: column;
}



#header {
    display: flex;
    align-items: center;
    background-color:#f3f3f3;
    padding: 5px;
}

#header img {
    width: 75px;
    height: auto;
    margin-left: 20px;
    
}
.links {
    margin-left: auto;
    
}

.link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: small;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 10px 0px;
}

.link:hover {
    border-bottom: 2px solid #E99926;
   
}

.hero-img {
    background-image: url("../images/food.jpg");
    background-size: cover;
    height: 600px;

}

.title-wrapper {
    height: 100px;
    background-color: #16171C;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    text-shadow: 0 0 1px #16171C;
}

.title {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 33px;
    padding-bottom: 5px;
    color: white;
   
}



.title-text {
   font-size: 18px;
   color: white;
}

.line {
    width: 300px;
    height: 3px;
    background-color: #07641b;
    margin: 30px auto;
    
}